.DS_Store
*~
*.swp
log/*.log
application/config/config.php
application/config/database.php
application/config/variation_database.php

NoteToSelf-Rob.txt

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/third_party/pChart/
application/third_party/dompdf/

assets/public/mysql_scripts/import_from_tsv.dvd.sh
