/* Override color theme */
#sidebar,
#sidebar-sorters fieldset,
#sidebar-sorters fieldset legend,
#sidebar-sorters-alphabet table {
  background-color: #121212;
}
/* Hide/unhide splash logo on top */
#logo a#logo-splash {
  display: none;
}
/* Hide/unhide logo on bottom */
#sidebar {
  background-image: none;
}
